body {
  background-color: #242424;
}

h1, h3, h4 {
  font-family: "Arial Black", sans-serif;
  color: lightgrey;
}

h4 {
  margin: 2rem 0 0.7rem 0;
}

p, div {
  color: darkgrey;
}

#timerText {
  font-weight: 600;
  font-size: 3rem;
  color: antiquewhite;
}

#battery{
    position: relative;
    height: 30rem;
    width: 15rem;
    margin: auto;
    overflow: hidden;
    line-height: 30rem;
    text-align: center;
    color: #fff;
    outline: 0.2rem solid #666;
}

#filler{
    position: absolute;
    top: 0; left: 0;
    height: 29.3rem;
    width: 14.3rem;
    margin: 0.3rem 0 0 0.3rem;
    z-index: -1;
    transform:scaleY(0);
    transform-origin: 50% 100%;
}

#batteryTop {
    height: 2rem;
    width: 5rem;
    margin: auto;
    margin-top: 2rem;
    border: 0.2rem solid #666;
}

#mainButton {
  margin-top: 2.5rem;
}

.containText {
  width: 60%;
  margin: 0 auto;
}

#totalWork, #totalBreak, #displayMinutes, #displayBreak {
  font-weight: 600;
  color: antiquewhite;
}

.glyphicon-flash {
  font-size: 7rem;
  color: #dbc157;
}

.btn {
  padding: 1.5rem;
  font-weight: 600;
}